.img__header__Bg {
    background-image: url('../../../ASSETS//IMAGES/plants-in-pot-on-wall-2431830.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}


.black__header__Bg {

    .row__navbar__margin {
        padding-top: 50px;

        .column__navbar {
            font-size: large;
        }
    }
}