@media screen and(max-width: 425px) {
    .product__name__category {
        margin-bottom: 10px !important;
        h1 {
            font-size: 25px !important;
        }
    }
}



@media screen and (min-width: 1441px) and (max-width: 2700px) {
       .product__name__category{
        width: 34% !important;
        margin-left: 0 !important;
        text-align: end;
           h1{
              font-size: 55px;
           }
       }
}