.About__component{
    .footer__desing__in__about{
        position: absolute;
        bottom: 0;
    }

    .addBackground__About{
        background-color: #f0f0f0;;
    }

    .add__height__about{
        height: calc(3 * 100vh + 150px) !important;
    }
}

@media screen and (min-width: 281px) and (max-width: 320px){
    .About__component{
        .add__height__about{
            height: 1814px !important;
        }
        
    }
}

@media screen and (min-width: 321px) and (max-width: 375px){
    .About__component{
        .add__height__about{
            height: 1782px !important;
        }
        
    }
}

@media screen and (min-width: 376px) and (max-width: 411px){
    .About__component{
        .add__height__about{
            height: 1730px !important;
        }
        
    }
}


@media screen and (min-width: 412px) and (max-width: 425px){
    .About__component{
        .add__height__about{
            height: 1700px !important;
        }
        
    }
}

@media screen and (min-width: 426px) and (max-width: 800px){
    .About__component{
        .add__height__about{
            height: 1757px !important;
        }
    }
}

@media screen and (min-width: 1020px) and (max-width: 1348px){
    .About__component{
        .add__height__about{
            height: 2108px !important;
        }
    }
}


@media screen and (min-width: 1441px) and (max-width: 2700px) {
    .About__component{
        .add__height__about{
            height: 2120px !important;
        }
    }
}
